<a href="https://colab.research.google.com/github/nayakoralalage/Final-Exam/blob/main/Final_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [ ]:
data = pd.read_csv(filename)
data.tail(101)

In [ ]:
#alternative way to get the csv file 

filename = '/content/sales.csv'


with open(filename, 'r') as f:
 for line in f:
      print(line)

In [5]:
#read the CSV

import csv

In [ ]:
help(csv.reader)

In [42]:
#I know this is not the correct answer but I tried this

data = {"Region":[], "Country":['Tuvalu'], "Total Profit":[]}
df = pd.read_csv(filename)
selected_columns = df[["Region","Country","Total Profit"]]


new_df = selected_columns.copy()
print(new_df)

                               Region                Country  Total Profit
0               Australia and Oceania                 Tuvalu     951410.50
1   Central America and the Caribbean                Grenada     248406.36
2                              Europe                 Russia     224598.75
3                  Sub-Saharan Africa  Sao Tome and Principe      19525.82
4                  Sub-Saharan Africa                 Rwanda     639077.50
..                                ...                    ...           ...
95                 Sub-Saharan Africa                   Mali      65214.72
96                               Asia               Malaysia      15103.47
97                 Sub-Saharan Africa           Sierra Leone      93748.05
98                      North America                 Mexico     144521.02
99                 Sub-Saharan Africa             Mozambique     889472.91

[100 rows x 3 columns]

In [ ]:
#Create the new dataframe for countries in Asutralia and Oceania region

# importing pandas as pd
import pandas as pd

#Creating the dataframe
df = pd.DataFrame({"Region":['Australia and Oceania','Australia and Oceania','Australia and Oceania',
                  'Australia and Oceania', 'Australia and Oceania','Australia and Oceania',
                  'Australia and Oceania','Australia and Oceania','Australia and Oceania','Australia and Oceania'],
				"Country":['Tuvalu','East Timor','New Zealand','Kiribati','Australia','Fiji','Australia','Federated States of Micronesia','Samoa','Australia'],
				"Total Profit":['951410.50','337937.6','5270.67','13009.18', '369155','727423.2','60418.38','146875.14','1678540.98','147031.74' ]})

print(df)

In [65]:
#Calculate the maximum vale 

df = pd.DataFrame({"Total Profit":['951410.50','337937.6','5270.67','13009.18', 
                '369155','727423.2','60418.38','146875.14','1678540.98','147031.74' ]})

column = df["Total Profit"]
max_value = column.max()

print(max_value)

951410.50

In [67]:
#Calculate the minimum vale 

df = pd.DataFrame({"Total Profit":['951410.50','337937.6','5270.67','13009.18', 
                '369155','727423.2','60418.38','146875.14','1678540.98','147031.74' ]})

column = df["Total Profit"]
min_value = column.min()

print(min_value)

13009.18

In [84]:
#calculate the average 

def average(reals):
  total = sum(reals)
  num_elements = len(reals)
  average = total/num_elements
  return average

In [ ]:
nums = list(range("Total Profit":['951410.50','337937.6','5270.67','13009.18', 
                '369155','727423.2','60418.38','146875.14','1678540.98','147031.74'))

result = average(reals)

print(result)

In [119]:
#plot the 'total profit' of countries in Australia and Oceania region 
#I tried many times to plot a bar chart but I could not do that

import pandas as pd

   
data = {'Country':['Tuvalu','East Timor','New Zealand','Kiribati','Australia','Fiji','Australia','Federated States of Micronesia','Samoa','Australia']
        'Total Profit':['951410.50','337937.6','5270.67','13009.18', '369155','727423.2','60418.38','146875.14','1678540.98','147031.74'] 
       }

  
df = pd.DataFrame(data,columns=['Country','Total Profit'])
df.plot(x ='counrty', y= 'Total Profit', kind = 'bar')
plt.show()

SyntaxError: ignored